<!DOCTYPE html>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="./templ/rs/css/w3.css">
    <script src="./templ/rs/js/dialog.js"></script>
    <head>
    <script>
        function Update(user) {
            rank = document.querySelector('input[name="'+user+'"]:checked').value
            info = '{"pairs": [{ "username": "' + user + '", "rank": "' + rank +'" }]}'
            sendRequest(info)
        }
        function UpdateAll() {
            var radios = document.querySelectorAll('input[type=radio]:checked')
            if (radios.length < 1) { return }

            info = '{"pairs": ['
            for (i = 0; i < radios.length; i++) {
                info += '{ "username": "' + radios[i].name + '", "rank": "' + radios[i].value +'" }'
                if (i < radios.length -1){ info += ',' }
            }
            info += ']}'
            sendRequest(info)
        }

        function sendRequest(info) {
            const xhttp = new XMLHttpRequest();
            xhttp.onload = function() {
                result = this.responseText
                if (this.status == 200) {
                    displayDialog("Info", "update success")
                    location.href="./superadmin"
                } else {
                    displayDialog("Alert", "failed to update: " + result, "w3-red")
                }
            }
            xhttp.open("POST", "./saveranks");
            xhttp.send(info);
        }
        
    </script>
    </head>
    <body>
        <div class="w3-container">
        <h3>Manage the ranks of users</h1>
        <form>
        <div class="w3-responsive">
        <table class="w3-table-all w3-tiny">
	  <thead>
          <tr class="w3-light-gray">
            <th>User</th>
            <th>Rank</th>
            <th>Action</th>
          </tr>
	  </thead>
        {{range $idx, $info := .}}
           {{$user := $info.Username}}{{ $rank := $info.Rank}}
            <tr>
            <td>{{$user}}</td>
            <td>
            <input type="radio" name="{{$user}}" id='{{printf "%s_bronze" $user}}'
                   value="bronze" {{if eq $rank "bronze" }}checked{{end}} >
            <label for='{{printf "%s_bronze" $user}}'>bronze</label>
            <input type="radio" name="{{$user}}" id='{{printf "%s_silver" $user}}'
                   value="silver" {{if eq $rank "silver" }}checked{{end}} >
            <label for='{{printf "%s_silver" $user}}'>silver</label>
            <input type="radio" name="{{$user}}" id='{{printf "%s_gold" $user}}'
                   value="gold" {{if eq $rank "gold" }}checked{{end}} >
            <label for='{{printf "%s_gold" $user}}'>gold</label>
            </td>
            <td><input type="button" class="w3-button w3-gray" onclick='Update("{{$user}}")' value="Update"></td>
            <!--
            <td><input type="button" onclick="Delete({{$user}})" value="Delete"></td>
            -->
            </tr>
        {{end}}
        </table>
        </div>
        <br><br>
        <div>
            <input type="button" class="w3-button w3-dark-grey" onclick="UpdateAll()" value="UpdateAll">
            <input type="reset" class="w3-button w3-dark-grey" value="Reset">
        </div>
        </form>
        </div>
    </body>
</html>
