<!DOCTYPE html>
    <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../templ/rs/css/w3.css">
    <link rel="stylesheet" href="../templ/rs/css/ratings.css">
    <script src="../templ/rs/js/dialog.js"></script>
    <style>
        sub {
            vertical-align: sub;
            font-size: xx-small;
        }
    </style>
    <script src="../templ/rs/js/jquery-3.6.0.min.js"></script>
    <script>
        function updateRating() {
            s = [{{.Star1}}, {{.Star2}}, {{.Star3}}, {{.Star4}}, {{.Star5}}];
            sum = 0;
            count = 0;

            for (i=0; i<s.length; ++i) {
                sum += (i+1)*s[i]
                count += s[i]
            }

            vote = count > 0 ? Math.floor(sum/count) : 0;

            ratio = [0,0,0,0,0]
            if (count>0) {
                for (i=0;i<s.length;i++) {
                    ratio[i] = s[i]/count;
                }
            }

            if (vote > 0) {
                $('.selected').each(function(){
                    $(this).removeClass('selected');
                });
                $('#star' + vote).addClass('selected')
            }

            var meter = document.getElementsByTagName("meter");
            for (i=0; i < meter.length; i++) {
                meter[i].setAttribute("value", ratio[i]);
            }

        }

        $(function (){
          var star = '.star', selected = '.selected';

          $(star).on('click', function(){
            str = $(this).attr('id')
            jsdata = JSON.stringify({ "id": {{.Id}}, "star": parseInt(str.slice(4,5)) })
            $.ajax({url: "../vote",
                data: jsdata,
                contentType : 'application/json',
                type: 'POST',
                success: function(result,status,xhr){
                    location.href = "../view/{{.Id}}"
                },
                error: function(xhr,status,error){
                    displayDialog(error, xhr.responseText , "w3-red")
                }
            })
          });

          updateRating()
        });
    </script>
    </head>
    <body>
        <div class="w3-container">
        <h3 id="title">
{{if .CanEdit}}
        <a href="../edit/{{.Id}}">{{printf "%s" .Title}}</a>
{{else}}
        {{printf "%s" .Title}}
{{end}}
        <sub>by {{.Author}}</sub>
        </h3>
        <pre>{{.Body}}</pre>
        <br><br>
        Ratings:
        <ol class="ratings">
          <li class="star" id="star5"></li>
          <li class="star" id="star4"></li>
          <li class="star" id="star3"></li>
          <li class="star" id="star2"></li>
          <li class="star" id="star1"></li>
        </ol>
        <table>

        <tr> <td>1 star</td>
        <td><meter value="0" min="0" max="1" class="ratio"></meter></td>
        <td>{{.Star1}}</td> </tr>

        <tr> <td>2 star</td>
        <td><meter value="0" min="0" max="1" class="ratio"></meter></td>
        <td>{{.Star2}}</td> </tr>

        <tr> <td>3 star</td>
        <td><meter value="0" min="0" max="1" class="ratio"></meter></td>
        <td>{{.Star3}}</td> </tr>

        <tr> <td>4 star</td>
        <td><meter value="0" min="0" max="1" class="ratio"></meter></td>
        <td>{{.Star4}}</td> </tr>

        <tr> <td>5 star</td>
        <td><meter value="0" min="0" max="1" class="ratio"></meter></td>
        <td>{{.Star5}}</td> </tr>

        </table>
        {{if .CanDelete}}
        <form id="formid" action="../delete/{{.Id}}" method="POST" onsubmit="return confirm('want to delete?');">
            <div><input type="submit" value="[x]Delete"></div>
        </form>
        {{end}}
        </div>
    </body>
</html>
